.kp-row {
    display: flex;
    width: 60%;
    height: 18px;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.kp-row span {
    flex: 1 1 auto;
    line-height: 18px;
    text-align: right;
}

.kp-row img{
    flex: 0 0 18px;
    margin-right: 5px;
}